$navbar-default-bg: 				#2c3e50;
$body-bg:							#ecf0f1;
$brand-primary:					#3498db;
$linkColor:      					#EDDA74;


@import "bootstrap-sprockets";
@import "bootstrap";

.center {
	text-align: center;
}

.navbar-brand{
	font-weight: bold;
}

.other-color{
	background: #95a5a6;
}







/* 

*= require_self

*/
